body {
    margin: 0%;
}

header {
    background-color: rgb(234, 186, 124);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    justify-content: left;
}

.central {
    margin-top: auto;
}

.imatgefons {
    background-image: url("/imatges/fons.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    width: 100%;
}